@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?8lofg1');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?8lofg1#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?8lofg1') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?8lofg1') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?8lofg1##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moon-solid {
  &:before {
    content: $icon-moon-solid; 
  }
}
.icon-sun-solid {
  &:before {
    content: $icon-sun-solid; 
  }
}
.icon-skull-solid {
  &:before {
    content: $icon-skull-solid; 
  }
}
.icon-share-nodes-solid {
  &:before {
    content: $icon-share-nodes-solid; 
  }
}
.icon-heart-crack-solid {
  &:before {
    content: $icon-heart-crack-solid; 
  }
}
.icon-heart-solid {
  &:before {
    content: $icon-heart-solid; 
  }
}
.icon-right-to-bracket-solid {
  &:before {
    content: $icon-right-to-bracket-solid; 
  }
}
.icon-delete-left-solid {
  &:before {
    content: $icon-delete-left-solid; 
  }
}
.icon-chart-simple-solid {
  &:before {
    content: $icon-chart-simple-solid; 
  }
}
.icon-gear-solid {
  &:before {
    content: $icon-gear-solid; 
  }
}
.icon-github-brands {
  &:before {
    content: $icon-github-brands; 
  }
}
.icon-exclamation-triangle-solid {
  &:before {
    content: $icon-exclamation-triangle-solid; 
  }
}
.icon-exclamation-solid {
  &:before {
    content: $icon-exclamation-solid; 
  }
}
.icon-search-solid {
  &:before {
    content: $icon-search-solid; 
  }
}
.icon-question-solid {
  &:before {
    content: $icon-question-solid; 
  }
}
.icon-times {
  &:before {
    content: $icon-times; 
  }
}
.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.icon-hourglass-solid {
  &:before {
    content: $icon-hourglass-solid; 
  }
}
.icon-crown-solid {
  &:before {
    content: $icon-crown-solid; 
  }
}

