$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../../fonts/icomoon" !default;

$icon-heart-crack-solid: "\e900";
$icon-heart-solid: "\e901";
$icon-right-to-bracket-solid: "\e949";
$icon-times-solid: "\e94a";
$icon-question-solid: "\e94b";
$icon-delete-left-solid: "\e94c";
$icon-chart-simple-solid: "\e94d";
$icon-gear-solid: "\e94e";
$icon-github-brands: "\e94f";
$icon-exclamation-triangle-solid: "\e92d";
$icon-exclamation-solid: "\e92e";
$icon-search-solid: "\e932";

