$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../../fonts/icomoon" !default;

$icon-share-nodes-solid: "\e903";
$icon-heart-crack-solid: "\e900";
$icon-heart-solid: "\e901";
$icon-right-to-bracket-solid: "\e949";
$icon-delete-left-solid: "\e94c";
$icon-chart-simple-solid: "\e94d";
$icon-gear-solid: "\e94e";
$icon-github-brands: "\e94f";
$icon-exclamation-triangle-solid: "\e92d";
$icon-exclamation-solid: "\e92e";
$icon-search-solid: "\e932";
$icon-question-solid: "\e93b";
$icon-times: "\e902";
$icon-check: "\e91e";

