.App-header {
    padding: 0.6rem 0.6rem;
    height: 60px;
    width: 100%;
    background-color: #282c34;
    font-size: calc(1.62vmin);
    display: flex;
    justify-content: center;
}

.App-header-menu {
    max-width: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.App-title {
    margin: 0;
    flex-grow: 1;
}

.Button-header {
    background-color: #444850;
    border: none;
    border-bottom: 0.2rem solid #161a20;
    border-radius: 0.5rem;
    margin: 0 0.2rem;
    padding: 0.2rem;
    height: 2.2rem;
    width: 2.2rem;
    font-size: 1rem;
    color: white;

    &:hover {
        background-color: lighten($color: #6c7381, $amount: 0.2);
        transition: 500ms;
    }
}