.App-header {
    padding: 0.6rem 0.6rem;
    height: 60px;
    width: 100%;
    background-color: #282c34;
    font-size: calc(1.62vmin);
    display: flex;
    justify-content: center;
}

.App-header-menu {
    max-width: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.App-title {
    margin: 0;
    flex-grow: 1;
    font-family: 'carter-one';
    text-shadow: black 0.15rem 0.15rem;
    -webkit-text-stroke: 0.1rem black;

    img {
        display: inline-block;
        height: 1.6rem;
        width: 1.6rem;
        margin: 0 -0.3rem 0.8rem -0.1rem;
    }
}