@font-face {
    font-family: 'maven-pro';
    src:  url('./../fonts/maven-pro/MavenPro-VariableFont_wght.ttf');
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'carter-one';
    src:  url('./../fonts/carter-one/CarterOne-Regular.ttf');
    font-style: normal;
    font-display: block;
}

